.row{
    padding: 20px;
}
div{
    background-color: white;
    text-align: center;
}
/*estilo de la foto de perfil*/
#fotoperfil{
    border-radius: 100%;
    margin-top: -60%;    
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 5%;
}

