<div class="row">
    <h2>Skills</h2>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h4>Html</h4>
    <circle-progress
        [percent]="87"
        [radius]="66"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress></div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h4>CSS</h4>
    <circle-progress
        [percent]="87"
        [radius]="66"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h4>JavaScript</h4>
    <circle-progress
        [percent]="87"
        [radius]="66"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h4>Java</h4>
    <circle-progress
        [percent]="87"
        [radius]="66"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h4>SQL</h4>
        <circle-progress
            [percent]="87"
            [radius]="66"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress></div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <h4>Inglés</h4>
            <circle-progress
                [percent]="87"
                [radius]="66"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'blue'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress></div>
</div>
