<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="/login"><img src="../../../assets/instagram.png" id="instagram"></a>
                <a href=""><img src="../../../assets/kisspng-social-media-linkedin-computer-icons-5b2cda77203970.404596541529666167132.png" id="linkedin"></a>
                <a href=""><img src="../../../assets/kisspng-github-logo-repository-computer-icons-5afa376c51ca94.387166531526347628335.png" id="logoGithub"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()">Ingreso</button>    
            </div>
        </div>
    </div>
</div>
