<div class="row">
    <h1>Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h3>Html</h3>
    <circle-progress
        [percent]="87"
        [radius]="66"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress></div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h3>CSS</h3>
    <circle-progress
        [percent]="87"
        [radius]="66"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h3>JavaScript</h3>
    <circle-progress
        [percent]="87"
        [radius]="66"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h3>Java</h3>
    <circle-progress
        [percent]="87"
        [radius]="66"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h3>SQL</h3>
        <circle-progress
            [percent]="87"
            [radius]="66"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress></div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <h3>Inglés</h3>
            <circle-progress
                [percent]="87"
                [radius]="66"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'blue'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress></div>
</div>
