.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
       
}
#logoAP{
    width: 150px;    
}
.logo{
    margin-left: 0.6em;
}
.redes{
    margin-right: 0.6em;
}
img{
    width: 40px;
}
#logoGithub{
    background-color: aliceblue;
    border-radius: 20px;
}